<list-template [requestSetting]="service.requestSetting" [pgRowsPerPage]="service.rowsPerPage"
  listTitle="List of person" #list>
  <ng-container content-type="toolbar"></ng-container>
  <p-table [value]="service.data" [autoLayout]="true" styleClass="table table-bordered template-table"
    [responsive]="true" selectionMode="single" [(selection)]="service.current" dataKey="NumeroSecuencial">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Names</th>
        <th>Identification type</th>
        <th>Identification number</th>
        <th class="actions-button">
          <button container="body" (click)="service.load()" type="button" class="btn btn-secondary btn-sm">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td>{{item.PersonId}}</td>
        <td>{{item.FullName}}</td>
        <td>{{item.IdentificationTypeDescription}}</td>
        <td>{{item.IdentificationNumber | identification}}</td>
        <td class="actions-button">
          <button class="btn btn-primary btn-sm" type="button" (click)="list.edit(item)">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger btn-sm btn-delete" type="button" (click)="list.delete(item)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
</list-template>
