<form-template [adding]="service.state == service.MODEL_STATE.Add" [busy]="service.busy"
  [(okAndNew)]="service.saveAndNew" [showOkAndNew]="false" formTitle='Add or edit a new person' [form]='crudForm'>
  <form #crudForm='ngForm'>
    <div class='row'>
      <div class='col-md-6' input-wrapper labelName='Names:'>
        <input acFocus type='text' maxlength='30' class='form-control input-input' name='names'
          [(ngModel)]='service.model.Names' required>
      </div>
      <div class='col-md-6' input-wrapper labelName='Last names:'>
        <input type='text' maxlength='30' class='form-control input-input' name='lastNames'
          [(ngModel)]='service.model.LastNames' required>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6' input-wrapper labelName='Identification type:'>
        <ng-select name="identificationType" [clearable]="false" class='custom'
          [items]="service.cacheData.identificationType.List" bindLabel="Description" bindValue="IdentificationTypeId"
          [(ngModel)]="service.model.IdentificationTypeId" notFoundText="Without records" placeholder="Pick one"
          (change)="service.model.IdentificationNumber = undefined" required>
        </ng-select>
      </div>
      <div class='col-md-6' input-wrapper labelName='Número de identificación:'>
        <ng-container [ngSwitch]="service.model.TipoIdentificacionId">
          <input *ngSwitchCase="TYPES.Cedula" type="text" mask="000-0000000-0" class="form-control input-input"
            name="numeroIdentificacion" [(ngModel)]="service.model.NumeroIdentificacion" required>
          <input *ngSwitchCase="TYPES.Rnc" type="text" mask="000-00000-0" class="form-control input-input"
            name="numeroIdentificacion" [(ngModel)]="service.model.NumeroIdentificacion" required>
          <input *ngSwitchCase="TYPES.Pasaporte" type='text' maxlength='9' class='form-control input-input'
            name='numeroIdentificacion' [(ngModel)]='service.model.NumeroIdentificacion' required>
          <label *ngSwitchDefault class="form-control"></label>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" input-wrapper labelName="Phone:">
        <input type="text" mask="(000) 000-0000" minlength='10' class="form-control input-input" name="phone"
          [(ngModel)]="service.model.Phone">
      </div>
      <div class="col-md-6" input-wrapper labelName="Cellphone:">
        <input type="text" mask="(000) 000-0000" minlength='10' class="form-control input-input" name="cellphone"
          [(ngModel)]="service.model.Cellphone">
      </div>
    </div>
    <div class="row">
      <div class='col-md-6' input-wrapper labelName='Email:'>
        <input type='text' email maxlength="30" class='form-control input-input' name='email'
          [(ngModel)]='service.model.Email'>
      </div>
    </div>
  </form>
  <ng-container content-type='custom-button'></ng-container>
</form-template>
